.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* gap: 1rem; */
}

.container2 {
  margin: 0 auto;
  padding: 20px;
}

.container3 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.field1 {
  position: relative;
}

.field2 {
  position: relative;
}

.field3 {
  position: relative;
}

.label3 {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.label3 input {
  width: 100%;
  padding: 15px;
  background-color: white;
  outline: 0;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  color: black;
  font-size: 1rem;
}

.label3 span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.25);
}

.field1 .label3 input[type="text"] {
  width: 81vw;
}

.label3 input:valid ~ span,
.label3 input:focus ~ span {
  color: black;
  transform: translateX(12px) translateY(-7px);
  font-size: 1rem;
  padding: 0 10px;
  background: white;
}

.label4 {
  position: relative;
}

.label4 input {
  padding: 15px;
  outline: 0;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  outline: none;
  color: black;
  font-size: 1rem;
}

.label4 span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.25);
}

.field2 .label4 input[type="text"] {
  margin-top: 2rem;
  width: 40vw;
}
.field3 .label4 input[type="text"] {
  margin-top: 2rem;
  width: 40vw;
}

.label4 input:valid ~ span,
.label4 input:focus ~ span {
  color: black;
  transform: translateX(12px) translateY(23px);
  font-size: 1rem;
  padding: 0 10px;
  background: white;
}

.in {
  border-radius: 1rem;
  padding: 0.5rem;
}

.modal1 {
  background-color: white;
  position: absolute;
  top: 2.3rem;
  left: 0%;
  min-width: 81vw;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  color: black;

  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  z-index: 3;
}

.modal11 {
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.modal11:hover {
  --tw-bg-opacity: 1;
  background-color: whitesmoke;
}

.modal2 {
  background-color: white;
  position: absolute;
  top: 4.3rem;
  left: 0%;
  max-height: 10rem;
  overflow: scroll;
  min-width: 40vw;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  color: black;

  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  z-index: 3;
}

.modal22 {
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.modal22:hover {
  --tw-bg-opacity: 1;
  background-color: whitesmoke;
}

.options {
  z-index: 2;
  position: absolute;
  top: 5.5rem;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

#soptions {
  width: 40vw;
}

.optionItem {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 0.8rem;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.pd1 {
  margin-top: 1.5rem;
  width: 40vw;
}

.book {
  margin-top: 2rem;
}
.button1 {
  width: 81vw;
  outline: 0;
  border: 1px solid black;
  padding: 1rem;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  font-size: large;
}

.Dates{
  margin-top: auto;
}

@media (max-width: 992px) {
  .button1 {
    width: 80vw;
  }

  .field1 .label3 input[type="text"] {
    width: 81vw;
  }

  .field2 .label4 input[type="text"] {
    margin-top: 2rem;
    width: 40vw;
  }
  .field3 .label4 input[type="text"] {
    margin-top: 2rem;
    width: 40vw;
  }

  .pd1 {
    width: 40vw;
    margin-top: 3rem;
  }

  .options {
    left: -3rem;
    width: 60vw;
  }

  .modal1 {
    min-width: 81vw;
  }
}

@media (max-width: 391px){
  #soptions{
    width: 60vw;
  }
}