@media (max-width: 992px) {
  a,
  a:hover,
  a:focus, 
  a:active {
    text-decoration: none;
    color: inherit;
  }

  a:link {
    text-decoration: none !important;
  }

  .nav1 {
    width: 100%;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 4;
    top: 0%;
  }

  .nav2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav3 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .navimg {
    object-fit: contain;
    background: transparent;
    margin-left: 0.125rem;
  }

  .nav5 {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    margin-right: 0.9rem;
    margin-top: 0.75rem;
  }

  .navMenu1 {
    display: none;
  }

  .msearchbar1 {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .msearchbar2 {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    margin: auto;
  }

  .msearchbar3 {
    width: 75vw;
    height: 2.5rem;
    padding: 8px 16px;
    border-radius: 9999px;
    border: 2px solid black;
    position: sticky;
  }

 

  /* Banner */
  .sbm1 {
    margin-top: 2vh;
  }

  .custom-arrow {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border: 0px solid white;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    padding: 14px;
    margin: 10px;
    border-radius: 30%;
  }

  .custom-dot {
    list-style: none;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    outline: none;
  }

  .custom-active-dot {
    list-style: none;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    outline: none;
  }

  .sb1 {
    padding: 0.5rem 0.5rem;
    position: absolute;
    top: 2rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    max-width: 50vw;
  }

  .sb2 {
    padding: 0.5rem 0.5rem;
    position: absolute;
    top: 6rem;
    font-size: 1rem;
    color: white;
    max-width: 60vw;
  }

  .sb3 {
    padding: 1.563rem 2.5rem;
    position: absolute;
    /* left: 3.625rem; */
    bottom: 13.75rem;
    top: 18.75rem;
    color: black;
    background-color: white;
    border-radius: 0.75rem;
    font-size: 1.25rem;
  }

  .sb3:hover {
    background-color: whitesmoke;
  }

  .sbimg {
    object-fit: cover;
    grid-auto-rows: auto;
    height: 40vh;
    width: 100vw;
  }

  /* Navigation Footer Only for mobile */
  .active {
    
    color: #f95959; 
  }

  .nf1 {
    width: 100%;
    position: fixed;
    display: flex;
    gap: 0.5rem;
    bottom: 0rem;
    background-color: rgb(31 41 55);
    color: white;
    padding: 1rem;
    justify-content: space-between;
  }

  .nf2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Airport Services */

  .as1 {
    display: flex;
    flex-direction: column;
  }

  .as2 {
    display: none;
  }

  .as3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0.625rem;
    margin: 0.625rem;
    overflow: scroll;
    scroll-behavior: smooth;
    justify-content: space-between;
    grid-gap: 1rem;
  }

  .scrolling::-webkit-scrollbar {
    display: none;
  }

  .as4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.625rem;
  }

  .asimg1 {
    height: 5rem;
    width: 5rem;
    border-radius: 624.938rem;
    border-color: black;
  }

  .as5 {
    margin-top: 0.75rem;
  }

  /* Banner Only Mobile */

  .b1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625rem;
    margin: 0.625rem;
    overflow: scroll;
    scroll-behavior: smooth;
    margin-bottom: 2.5rem;
    margin-left: 0.625rem;
  }

  .b2 {
    margin: 0.225rem;
    padding: 0.425rem;
  }

  .bimg1 {
    height: 9.375rem;
    width: 15.625rem;
    border-radius: 0.625rem;
  }

  /* Airports Card */

  .ac7 {
    display: none;
  }

  .acm1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.625rem;
    margin: 0.625rem;
    overflow: scroll;
    scroll-behavior: smooth;
    margin-bottom: 6.25rem;
    margin-left: 0.625rem;
  }

  .acm2 {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.625rem;
    margin-left: 0rem;
  }

  .acm3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625rem;
    margin: 0.625rem;
    overflow: scroll;
    scroll-behavior: smooth;
    margin: auto;
  }

  .acm4 {
    margin-right: 12px;
    width: 275px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    background-color: #66D7EB;
    border-radius: 20px;
  }

  .acm5 {
    object-fit: contain;
  }

  .acm5 img {
    overflow: hidden;
    height: 230px;
  }

  .acm6 {
    margin: 1rem;
    margin-top: 0.5rem;
    color: black;
  }

  .acm6 h3,
  p {
    margin: 0;
    padding: 0;
  }

  .acm7 {
    margin-bottom: 0.5rem;
  }

  /* Footer Starts from here */
  .f1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 2.5rem;
    padding: 1.5rem;
    grid-gap: 1.25rem;
  }

  .f2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .f2:hover {
    background-color: rgb(246, 242, 242);
    border-radius: 1rem;
  }

  .f3 {
    padding: 1rem;
    font-weight: 800;
  }

  .f4 {
    padding: 0.2rem;
    color: grey;
    max-width: 20rem;
  }

  .f44 {
    width: 100vw;
    background-color: rgb(242, 242, 242);
  }
  .f5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding: 1rem;
  }

  .f6 {
    display: flex;
    flex-direction: column;
  }

  .f7 {
    margin-left: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    font-size: smaller;
  }

  .f8 {
    list-style-type: none;
  }

  .f9 {
    text-decoration: none;
  }
  .f99 {
    color: white;
  }
  .f10 {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    grid-gap: 1.25rem;
    margin-bottom: 4rem;
  }

  .sbcontainer {
    width: 100vw;
  }
}
