.message{
  margin-top: 6rem;
  padding: 5vw;
  text-align: center;
  line-height: 2.4rem;
  color: white;
}
@media (max-width: 992px){
.message{
  margin-top: 6rem;
  padding: 5vw;
  text-align: center;
  line-height: 2.4rem;
}
}