@media (min-width: 993px) {
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    color: inherit;
  }

  a:link {
    text-decoration: none !important;
  }

  /* nav */
  .nav1 {
    background-color: white;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    z-index: 10;
    position: sticky;
    top: 0px;
  }

  .nav2 {
    display: flex;
    justify-content: space-between;
    width: 97vw;
  }

  .nav3 {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .navimg {
    object-fit: contain;
    background: transparent;
  }

  .nav4 {
    display: flex;
    gap: 2rem;
  }

  .nav5 {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: relative;
  }

  /* Menu */

  .navMenu1 {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }

  .navMenu2 {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: black;
    font-size: medium;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  .navMenu3 {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
  }

  .navMenu4 {
    background-color: white;
    position: absolute;
    top: 1.25rem;
    left: 0%;
    min-width: 15.625rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: black;

    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
      0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .navMenu5 {
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .navMenu5:hover {
    --tw-bg-opacity: 1;
    background-color: whitesmoke;
  }

  .navMenu6 {
    cursor: pointer;
  }

  .searchbar2 {
    display: none;
  }

  /* SlidingBanner */

  .custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border: 0px solid white;
    color: white;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    padding: 14px;
    margin: 10px;
    border-radius: 30%;
  }

  .sb1 {
    padding: 25px 40px;
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    left: 2.5rem;
    top: 2rem;
    color: white;
    font-size: 1.875rem;
    font-weight: 700;
  }

  .custom-dot {
    list-style: none;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    outline: none;
  }

  .custom-active-dot {
    list-style: none;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    outline: none;
  }

  .sb2 {
    padding: 1.563rem 2.5rem;
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    left: 2.5rem;
    top: 5rem;
    font-size: 1.25rem;
    color: white;
  }

  .sb3 {
    padding: 1.563rem 2.5rem;
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    left: 3.625rem;
    bottom: 13.75rem;
    top: 18.75rem;
    color: black;
    background-color: white;
    border-radius: 0.75rem;
    font-size: 1.25rem;
  }

  .sb3:hover {
    background-color: whitesmoke;
  }

  .sbimg {
    object-fit: cover;
    grid-auto-rows: auto;
  }

  /* Navigation Footer Only for mobile */

  .nf1 {
    display: none;
  }

  /* Airport Services */
  .as1 {
    display: flex;
    flex-direction: column;
  }

  .as2 {
    margin-left: 2.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    padding: 1rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .as3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 2.5rem;
    justify-content: space-between;
    padding: 1.5rem;
    grid-gap: 1.25rem;
  }

  .as4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .asimg1 {
    height: 9.375rem;
    width: 9.375rem;
    border-radius: 624.938rem;
    border-color: black;
  }

  .as5 {
    margin-top: 0.75rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* .as6 {
    display: flex;
    margin-left: 2.5rem;
    justify-content: space-between;
    padding: 1.5rem;
  } */

  /* .as7 {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */

  /* .asimg2 {
    height: 9.375rem;
    width: 9.375rem;
    border-radius: 9999px;
    border-color: black;
  } */

  /* .as8 {
    margin-top: 12px;
    font-family: Arial, Helvetica, sans-serif;
  } */

  /* Banner Only Mobile */
  .b1 {
    display: none;
  }

  /* Airports card */
  .ac1 {
    width: 25rem;
    height: 21.875rem;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s;
    animation: ease-in-out;
    background-color: rgb(77, 13, 136);
    border-radius: 1.25rem;
  }

  /* .ac1:hover{
      transform: scale(1.1);
      box-shadow: 0px 0px 15px 0px;
  } */

  .ac2 {
    object-fit: contain;
  }
  .ac2 img {
    overflow: hidden;
    height: 250px;
  }

  .ac3 {
    margin: 2rem;
    margin-top: 0.5rem;
    color: white;
  }

  .ac3 h3,
  p {
    margin: 0;
    padding: 0;
  }

  .ac4 {
    margin-bottom: 0.5rem;
  }

  .ac6 {
    display: flex;
    margin-left: auto;
    padding: 25px 15px;
  }

  .ac7 {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
  }

  .ac8 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    padding: 1rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 1.25rem;
  }

  /* Airports card for mobile */
  .acm1 {
    display: none;
  }

  /* Footer Starts from here */
  .f1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 2.5rem;
    justify-content: space-between;
    padding: 1.5rem;
    grid-gap: 1.25rem;
  }

  .f2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .f2:hover {
    background-color: rgb(246, 242, 242);
    border-radius: 1rem;
  }

  .f3 {
    padding: 1rem;
    font-weight: 800;
  }

  .f4 {
    padding: 0.2rem;
    color: grey;
  }

  .f44 {
    width: 100%;
    background-color: rgb(242, 242, 242);
  }
  .f5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 2.5rem;
    justify-content: space-between;
    padding: 1.5rem;
    grid-gap: 1rem;
  }

  .f6 {
    display: flex;
    flex-direction: column;
  }

  .f7 {
    margin-left: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  .f8 {
    list-style-type: none;
  }

  .f9 {
    text-decoration: none;
  }
  .f99 {
    color: white;
    background-color: black;
  }
  .f10 {
    display: flex;
    margin-left: 2.5rem;
    justify-content: space-between;
    padding: 1.5rem;
    grid-gap: 1.25rem;
  }
}
